<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SmartShoes.Client.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
    <appSettings>
	    <add key="CONTAINER_ID" value="TEST"/>
    </appSettings>
    <userSettings>
        <SmartShoes.Client.UI.Properties.Settings>
            <setting name="CONTAINER_ID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SHOES_JSON" serializeAs="String">
                <value />
            </setting>
            <setting name="QR_CALL_URL_DEBUG" serializeAs="String">
                <value>http://221.161.177.193:8080/api/qrcode/check?qrCode=</value>
            </setting>
            <setting name="WEBVIEW_URL" serializeAs="String">
                <value>http://192.168.0.103:8554</value>
            </setting>
            <setting name="MAT_DATA_INSERT_URL" serializeAs="String">
                <value />
            </setting>
            <setting name="QR_CALL_URL_RELEASE" serializeAs="String">
                <value>http://smartshoes.kr/api/qrcode/check?qrCode=</value>
            </setting>
            <setting name="SERVICE_UUID" serializeAs="String">
                <value>6e400001-b5a3-f393-e0a9-e50e24dcca9e</value>
            </setting>
            <setting name="NOTIFY_UUID" serializeAs="String">
                <value>6e400003-b5a3-f393-e0a9-e50e24dcca9e</value>
            </setting>
            <setting name="WRITE_UUID" serializeAs="String">
                <value>6e400002-b5a3-f393-e0a9-e50e24dcca9e</value>
            </setting>
            <setting name="SENSOR_SET_TIME" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SHOES_CALL_URL_DEBUG" serializeAs="String">
                <value>http://221.161.177.194:8081/api/shoes/list?containerSid=</value>
            </setting>
            <setting name="SHOES_CALL_URL_RELEASE" serializeAs="String">
                <value>http://221.161.177.191/api/container/</value>
            </setting>
            <setting name="SELECT_LEFT_SHOE" serializeAs="String">
                <value />
            </setting>
            <setting name="SELECT_RIGHT_SHOE" serializeAs="String">
                <value />
            </setting>
        </SmartShoes.Client.UI.Properties.Settings>
    </userSettings>
</configuration>